NatuurApp/NatuurApp/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NatureArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaID" type="xs:int" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BestSeason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BriefDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtendedDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NatureArea" nillable="true" type="tns:NatureArea" />
  <xs:complexType name="ArrayOfNatureArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NatureArea" nillable="true" type="tns:NatureArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNatureArea" nillable="true" type="tns:ArrayOfNatureArea" />
  <xs:complexType name="NatureAreaFoto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaID" type="xs:int" />
      <xs:element minOccurs="0" name="Image1" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Image2" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Image3" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Image4" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NatureAreaFoto" nillable="true" type="tns:NatureAreaFoto" />
</xs:schema>