NatuurApp/NatuurApp/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1635/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataClass" />
  <xs:element name="TestDBConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDBConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestDBConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStringResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStringResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStringResultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNatureAreaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNatureAreaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataClass" minOccurs="0" name="GetNatureAreaByIDResult" nillable="true" type="q1:NatureArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNatureAreas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNatureAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataClass" minOccurs="0" name="GetNatureAreasResult" nillable="true" type="q2:ArrayOfNatureArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNatureAreaFotoByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNatureAreaFotoByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataClass" minOccurs="0" name="GetNatureAreaFotoByIDResult" nillable="true" type="q3:NatureAreaFoto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>